/* Here is your custom css styles. */

@font-face{
    font-family: 'font1';
    src: url('../font/font1.ttf');
}

.diyFont{
    font-family: 'font1';
}

*{
    cursor: url("/medias/cursor1.ico"),auto!important;
}
:active{
    cursor: url("/medias/cursor1.ico"),auto!important;
}
