/* Here is your custom css styles. */

@font-face{
    font-family: 'font1';
    src: url('../font/font1.ttf');
}

.diyFont{
    font-family: 'font1';
}

*{
    cursor: url("/medias/cursor1.ico"),auto!important;
}
:active{
    cursor: url("/medias/cursor1.ico"),auto!important;
}


/* .card {
    background: url("/medias/images/0.png") top;
   border-radius: 25px;
   box-shadow: 0 15px 35px rgba(42, 89, 165, .1), 0 5px 15px rgba(71, 159, 188, .07) !important;
} */

/* 修改首页轮播的标题大小 */
@media only screen and (max-width: 601px) {
    .bg-cover .title {
        font-size: 2.5rem;
    }
}

/* 修改博客标题的字体大小 */
@media only screen and (max-width: 601px) {
    header .brand-logo .logo-span {
        font-size: 1.2rem;
    }
}

.uk-alert { margin-bottom: 15px; padding: 10px; background: #ebf7fd; color: #2d7091; border: 1px solid rgba(45, 112, 145, 0.3); border-radius: 4px; text-shadow: 0 1px 0 #ffffff; } 
.uk-alert-success { background: #e8ece2; color: #659f13; border-left: 6px solid rgba(120, 199, 9); font-weight: 600; } 
.uk-alert-warning { background: #fafafa; color: rgb(24, 130, 250); border-left: 6px solid rgba(0, 108, 250, 0.904); font-weight: 600; } 
.uk-alert-danger { background: #f8f8f6; color: #eb360d; border-left: 6px solid #eb360d; font-weight: 600; }

